.app_dark_theme {
    --bg-color: #000063;
    --inverted-bg-color: #f1f1f1;
    --primary-color: #016401;
    --secondary-color: #01af01;
    --inverted-primary-color: #011d64;
    --inverted-secondary-color: #0067ff;
    --theme-switcher-color: #ffed49;
}
