.app.light {
  --bg-color: #f1f1f1;
  --inverted-bg-color: #000063;
  --primary-color: #011d64;
  --secondary-color: #0067ff;
  --inverted-primary-color: #016401;
  --inverted-secondary-color: #01af01;
  --theme-switcher-color: #0380ff;
}